<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
  <div class="container wrapper">
    {{ partial "head.html" . }}

    <h1>{{ .Data.Term }}</h1>

    <div class="posts-list">
      {{ range .Data.Pages }}
      {{ if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) }}
      {{ else }}
      <div class="post">
        <h4 class="title">
          <a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
        </h4>

        <p class="date">{{ dateFormat "January 2, 2006" .Date }}</p>

        {{ if isset .Params "description" }}
        <p class="description">
          {{ .Description }}
        </p>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
